:host{
  display: block;
  width: 100%;
  height: 100%;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.upload-area {
  width: 200px;
  height: 200px;
  padding: 1px;
  margin: 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.upload-img {
  max-width: 100%;
  max-height: 100%;
}
