<nz-modal [(nzVisible)]="embeddingModalVisible"
          [nzTitle]="'image.embeddingSelector'|translate"
          [nzFooter]="[]"
          [nzWidth]="windowWidth!*0.6"
          (nzOnOk)="embeddingModalVisible=false"
          (nzOnCancel)="embeddingModalVisible=false"
>
  <ng-container *nzModalContent>
    <app-novita-model-selector [nsfw]="nsfw" [modelType]="'embedding'" (selection)="selectImageModelAction($event)"></app-novita-model-selector>
  </ng-container>
</nz-modal>
<div
  class="my-1 border-1-standard d-flex flex-row justify-content-between p-2 rounded-3">
  <div class="d-flex flex-column">
    <ion-label class="ion-color-light">ModelName</ion-label>
    <span class="text-break fs-6 bold border-1-standard rounded-3 px-1" style="min-height: 30px;width: 100%;" (click)="embeddingModalVisible = true">{{embedding!.model_name}}</span>
  </div>
  <button class="bg-light" (click)="emitDelete()"><span nz-icon nzType="close" nzTheme="outline"></span></button>
</div>
