<div class="bg-theme text-theme w-100 h-100 d-flex flex-row">
  <div class="w-100 d-flex flex-row">
    <div class="h-100 flex-grow-0 flex-shrink-0 d-flex flex-column" style="width: 316px;">
      <div class="px-3">
        <button nz-button class="mx-2">
          @if(menuVisible()){
            <nz-icon nzType="menu-fold" nzTheme="outline" (click)="toggleMenu()"/>
          }@else{
            <nz-icon nzType="menu-unfold" nzTheme="outline" (click)="toggleMenu()" />
          }
        </button>
      </div>
      <div class="overflow-y-scroll z-0 flex-grow-1 px-3">
        <div>模型</div>
        <nz-select class="w-100" [(ngModel)]="model" (ngModelChange)="modelChange($event)">
          @for(model of models; track model){
            <nz-option [nzValue]="model" [nzLabel]="model"></nz-option>
          }
        </nz-select>
        <div>提示词</div>
        <textarea
          nz-input
          class="fs-6 w-100"
          [(ngModel)]="prompt"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="10"
        ></textarea>
        <div>生成数量</div>
        <div class="d-flex flex-row">
          <nz-slider class="normal me-2" [nzMin]="1" [nzMax]="image_num_max" [nzStep]="1" [(ngModel)]="image_num"></nz-slider>
          <nz-input-number [nzMin]="1" [nzMax]="image_num_max" [nzStep]="1" [(ngModel)]="image_num"></nz-input-number>
        </div>
        <div>生成大小</div>
        <nz-select class="w-100" [(ngModel)]="size">
          @for(size of sizes;track size){
            <nz-option [nzValue]="size" [nzLabel]="size"></nz-option>
          }
        </nz-select>
        <div>
          分辨率
        </div>
        <nz-select class="w-100" [(ngModel)]="resolution" (ngModelChange)="resolutionChange()">
          @for(resolution of resolutions;track resolution){
            <nz-option [nzValue]="resolution" [nzLabel]="resolution"></nz-option>
          }
        </nz-select>

        @if(isOfficial()){
          <div animate.enter="enter-animation">
            <div>质量</div>
            <nz-select class="w-100" [(ngModel)]="quality">
              @for(quality of qualities;track quality){
                <nz-option [nzValue]="quality" [nzLabel]="quality"></nz-option>
              }
            </nz-select>
            <div>背景</div>
            <nz-select class="w-100" [(ngModel)]="background">
              @for(background of backgrounds; track background){
                <nz-option [nzValue]="background" [nzLabel]="background"></nz-option>
              }
            </nz-select>
            <div>审核强度</div>
            <nz-select class="w-100" [(ngModel)]="moderation">
              @for(moderation of moderations; track moderation){
                <nz-option [nzValue]="moderation" [nzLabel]="moderation"></nz-option>
              }
            </nz-select>
            <div>图片格式</div>
            <nz-select class="w-100" [(ngModel)]="output_format">
              @for(output_format of output_formats;track output_format){
                <nz-option [nzValue]="output_format" [nzLabel]="output_format"></nz-option>
              }
            </nz-select>
          </div>
          <div class="my-1">
            <div>遮罩图(mask_url)</div>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center gap-1">
                <input class="flex-grow-1" type="text" nz-input [(ngModel)]="tempMaskUrl" placeholder="输入遮罩图 URL" />
                <button nz-button nzType="primary" (click)="setMaskUrl()">确认</button>
              </div>
              <ng-template #suffixButtonMask>

              </ng-template>

              <span style="margin: 0 10px;">或</span>

              <nz-upload
                [nzShowUploadList]="false"
                [nzBeforeUpload]="beforeMaskUpload"
                nzAccept="image/*"
              >
                <button nz-button><span nz-icon nzType="upload"></span>选择本地图片</button>
              </nz-upload>
            </div>

            @if(mask_url){
              <div class="preview-box">
                <img [src]="mask_url" style="max-width: 200px; margin-top: 10px;" />
                <button nz-button nzDanger nzSize="small" (click)="mask_url = undefined">删除</button>
              </div>
            }

          </div>

        }@else{
          <div animate.enter="enter-animation">
            <div>official_fallback</div>
            <nz-switch [(ngModel)]="official_fallback"></nz-switch>
          </div>
        }
        <div>
          <div>{{'参考图 (image_urls): ' + image_urls.length + '/16'}}</div>
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center gap-1">
              <input class="flex-grow-1" type="text" nz-input [(ngModel)]="tempImageUrl" placeholder="输入参考图 URL" />
              <button nz-button nzType="primary"
                      [disabled]="image_urls.length >= 16" (click)="addUrlToList()">添加 URL</button>
            </div>

            <span style="margin: 0 10px;">或</span>

            <nz-upload
              [nzShowUploadList]="false"
              [nzBeforeUpload]="beforeImageUpload"
              [nzDisabled]="image_urls.length >= 16"
              nzAccept="image/*"
            >
              <button nz-button [disabled]="image_urls.length >= 16">
                <span nz-icon nzType="upload"></span>上传本地图片
              </button>
            </nz-upload>
          </div>

          <div class="image-grid">
            @for(url of image_urls; track url){
              <div class="d-flex flex-column align-items-center gap-1">
                <div class="image-item">
                  <img [src]="url" />
                  <div class="delete-overlay" (click)="removeImage($index)">
                    <span nz-icon nzType="delete"></span>
                  </div>
                </div>
                <button nz-button (click)="showImage(url)">Show</button>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="sticky-bottom d-flex justify-content-center w-100 mb-3">
        <button nz-button class="w-100" (click)="generateImages()">{{ 'universal.generate'|translate }}</button>
      </div>
    </div>
    <div class="h-100 d-flex flex-grow-1 overflow-y-scroll overflow-x-scroll">
      <app-gallery class="w-100" #gallery [loading]="loading" [images]="images"></app-gallery>
    </div>
  </div>
</div>
