.active{
  width: 10px;
  height: 10px;
  background: #79c0ff;
}
.chat-box {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 8px;
}
@media screen and (max-width: 800px) {
  .chat-box {
    width: 100%;
  }
}

.chat-content {
  flex: 1;
  margin-left: 16px; /* 适当的间距 */
}


