<nz-modal [(nzVisible)]="ttsEditModelVisible"
          (nzOnCancel)="ttsEditModelVisible = false"
          (nzOnOk)="ttsEditModelVisible = false"
          [nzTitle]="'编辑解析文件内容'">
  <ng-container *nzModalContent>
    <app-tts-file-editor [ttsFile]="editTtsFile">
    </app-tts-file-editor>
  </ng-container>
</nz-modal>
<header>
  <button nz-button class="m-2">
    @if(menuVisible()){
      <nz-icon nzType="menu-fold" nzTheme="outline" (click)="toggleMenu()"/>
    }@else{
      <nz-icon nzType="menu-unfold" nzTheme="outline" (click)="toggleMenu()" />
    }
  </button>
</header>
<nz-card>
  <nz-row class="align-items-center my-1 bg-theme2 text-theme2">
    <nz-col class="m-2">
      <nz-col class="m-1">模型</nz-col>
      <nz-col>
        <nz-select class="select big" [(ngModel)]="model">
          <nz-option-group [nzLabel]="'文字转语音模型'">
            @for (selection of models; track selection) {
              <nz-option [nzLabel]="selection" [nzValue]="selection"></nz-option>
            }
          </nz-option-group>
        </nz-select>

      </nz-col>
    </nz-col>
    <nz-col class="m-2">
      <nz-col class="mx-1">
        {{ 'banner.voiceTone' | translate }}
      </nz-col>
      <nz-col>
        <nz-select class="select big" [(ngModel)]="voice">
          <nz-option-group [nzLabel]="'banner.manVoice' | translate">
            @for(voice of human_voices; track voice){
              <nz-option [nzValue]="voice" [nzLabel]="voice"></nz-option>
            }

          </nz-option-group>
          <nz-option-group [nzLabel]="'banner.womanVoice' | translate">
            @for(voice of woman_voices; track voice){
              <nz-option [nzValue]="voice" [nzLabel]="voice"></nz-option>
            }
          </nz-option-group>
        </nz-select>
      </nz-col>
    </nz-col>
    <nz-col class="m-2">
      <nz-col class="mx-1">
        {{ 'banner.soundType' | translate }}
      </nz-col>
      <nz-col>
        <nz-select class="select big" [(ngModel)]="response_format">
          <nz-option-group [nzLabel]="'banner.fileFormat' | translate">
            @for(response_format of speech_response_formats; track response_format){
              <nz-option [nzValue]="response_format"
                         [nzLabel]="response_format"></nz-option>
            }
          </nz-option-group>
        </nz-select>
      </nz-col>
    </nz-col>
    <nz-row class="m-2">
      <nz-col class="m-1">速度</nz-col>
      <nz-row>
        <nz-slider class="slider big" [nzMin]="0.25" [nzMax]="4" [nzStep]="0.25" [(ngModel)]="speed"></nz-slider>
        <nz-input-number [nzMin]="0.25" [nzMax]="4" [nzStep]="0.25" [(ngModel)]="speed"></nz-input-number>
      </nz-row>
    </nz-row>
  </nz-row>
</nz-card>
<div class="m-1 border-black">
  <div class="file-drop rounded-2 border d-flex justify-content-center align-items-center" style="height: 150px;"
       (click)="fileInput.click()"
       (drop)="onFileDrop($event)" (dragover)="onDragOver($event)">
    <div class="drop-message">
      <span nz-icon nzType="cloud-upload" nzTheme="outline"></span>
      将文件拖放到此处或者点击此处从电脑中选择文件
    </div>
    <input multiple
           accept=".pdf,application/pdf,.txt,text/plain,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
           type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
  </div>
  <div>
    @for (ttsFile of fileList; track ttsFile){
      <div class="d-flex flex-row m-1 border rounded-2 justify-content-between">
        <div class="d-flex flex-column">
          <nz-row>
            <nz-col class="mx-2">
              <img width="40" height="40" nz-image [nzSrc]="getIcon(ttsFile.file!.name!)" [nzFallback]="'assets/svgs/file.svg'" alt="图标">
            </nz-col>
            <nz-col>
              <nz-row>
                <nz-col class="mx-2">
                  <div>文件: </div>
                </nz-col>
                <nz-col class="mx-2">
                  <div>类型: {{ttsFile.file!.type}}</div>
                </nz-col>
                <nz-col class="mx-2">
                  <div>大小: {{ttsFile.file!.size}}</div>
                </nz-col>
                <nz-col>
                  <span
                    [class.parsed]="ttsFile.parsed === true"
                    class="rounded-2 border">{{ttsFile.parsed === true?'已解析':'未解析'}}</span>
                </nz-col>
              </nz-row>
              <nz-row>
                <nz-col class="mx-2">
                  <div>{{ttsFile.file!.name}}</div>
                </nz-col>
              </nz-row>
            </nz-col>
          </nz-row>
        </div>
        <div class="d-flex justify-content-end align-items-center me-2">
          <nz-row>
            <button nz-button class="m-1"
                    (click)="edit(ttsFile)">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
              编辑内容
            </button>
            <button nz-button class="m-1"
                    (click)="reparse(ttsFile)">
              <span nz-icon nzType="monitor" nzTheme="outline"></span>
              解析内容
            </button>
            <button nz-button class="m-1"
                    (click)="removeFile($index)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              删除
            </button>
          </nz-row>
        </div>
      </div>
    }
  </div>
</div>
<div class="border rounded-2">
  <div class="d-flex">
    <button nz-button (click)="reparseAll()" class="m-2">解析所有文件</button>
    <button nz-button (click)="putAllContent()" class="m-2">导入上面文件内容</button>
    <button nz-button (click)="inputText = ''" class="m-2">清空内容</button>
    <button nz-button (click)="generate()" class="m-2">生成音频</button>
  </div>
  <div class="d-flex justify-content-center align-items-center p-2">
    <textarea [(ngModel)]="inputText"
      nz-input placeholder="请在这里输入你想要生成的音频所使用的文本。" [nzAutosize]="{ minRows: 3, maxRows: 10 }"></textarea>
  </div>
  @if(loading){
    <div class="d-flex align-items-center flex-row m-5">
      正在处理中
      <div class="mx-3">
        <nz-spin nzSize="large" nzSimple></nz-spin>
      </div>
      {{getPendingText()}}
    </div>
  }@else{
    <nz-card class="rounded-4">
      <div class="d-flex flex-row align-items-center">
        <div class="music-player mx-2">
          <img #musicIcon class="mx-2 music-icon" [class.playing]="isAudioPlaying" src="assets/svgs/audio_play.svg" width="50" height="50" alt="播放旋转的图片"/>
        </div>
        <audio #player class="mx-1" controls [src]="audioSrc" (play)="onAudioPlay()" (pause)="onAudioPause()"></audio>
      </div>
    </nz-card>
  }
</div>
