<nz-modal [(nzVisible)]="newModelVisible"
          [nzFooter]="[]"
          [nzTitle]="'添加模型'"
          (nzOnCancel)="newModelVisible = false"
          (nzOnOk)="newModelVisible = false"
>
  <ng-container *nzModalContent>
    <app-new-model (close)="tackleClose($event)"></app-new-model>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="multipleAddVisible"
          [nzFooter]="[]"
          [nzTitle]="'快速添加多个模型'"
          (nzOnCancel)="multipleAddVisible = false"
          (nzOnOk)="multipleAddVisible = false"
>
  <ng-container *nzModalContent>
    <app-multiple-add-model [existModels]="models" (close)="multipleAddModalClose($event)"></app-multiple-add-model>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="editModelVisible"
          [nzFooter]="[]"
          [nzTitle]="'更改模型'"
          (nzOnCancel)="editModelVisible = false"
          (nzOnOk)="editModelVisible = false"
>
  <ng-container *nzModalContent>
    <app-edit-model (close)="tackleEditClose($event)" [model]="editModel!"></app-edit-model>
  </ng-container>
</nz-modal>

<div class="models-page">
  <nz-page-header nzTitle="模型管理" nzSubTitle="管理系统支持的模型及其密钥绑定">
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" (click)="newModelVisible = true">
          <span nz-icon nzType="plus"></span>
          添加
        </button>
        <button *nzSpaceItem nz-button (click)="multipleAddVisible = true">
          <span nz-icon nzType="file-add"></span>
          快速添加
        </button>
        <button *nzSpaceItem nz-button (click)="refresh()">
          <span nz-icon nzType="reload"></span>
          刷新
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-card class="models-card" [nzBodyStyle]="{ padding: 0 }">
    <div class="models-toolbar">
      <nz-input-group [nzSuffix]="suffixIcon" nzPrefixIcon="search" class="search-input">
        <input type="text" nz-input placeholder="搜索模型名或模型值" [(ngModel)]="searchText" (ngModelChange)="filterModels()" />
      </nz-input-group>
      <ng-template #suffixIcon>
        @if (searchText) {
          <span nz-icon nzType="close-circle" class="clear-icon" (click)="searchText = ''; filterModels()"></span>
        }
      </ng-template>
    </div>

    <nz-table
      #modelsTable
      nzSize="middle"
      nzShowPagination
      [nzData]="displayModels"
      [nzLoading]="models === undefined"
      [nzFrontPagination]="true"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[10, 20, 50]"
      nzTableLayout="fixed"
      [nzScroll]="{ x: '800px' }"
      [nzNoResult]="emptyTpl"
    >
      <ng-template #emptyTpl>
        <nz-empty [nzNotFoundContent]="models === undefined ? '加载中...' : '暂无模型数据'"></nz-empty>
      </ng-template>
      <thead>
        <tr>
          <th nzWidth="80px">模型ID</th>
          <th nzWidth="200px">模型名</th>
          <th nzWidth="220px">模型值</th>
          <th nzWidth="100px">视觉支持</th>
          <th nzWidth="100px">对话模型</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        @for (model of modelsTable.data; track model.modelId) {
          <tr>
            <td>{{ model.modelId }}</td>
            <td>
              <span class="model-name">{{ model.name }}</span>
            </td>
            <td>
              <span class="model-value" nz-typography nzCopyable [nzCopyText]="model.modelValue">{{ model.modelValue }}</span>
            </td>
            <td>
              @if (model.vision) {
                <nz-tag nzColor="success"><span nz-icon nzType="eye"></span> 支持</nz-tag>
              } @else {
                <nz-tag nzColor="default">不支持</nz-tag>
              }
            </td>
            <td>
              @if (model.isChatModel) {
                <nz-tag nzColor="processing"><span nz-icon nzType="message"></span> 是</nz-tag>
              } @else {
                <nz-tag nzColor="default">否</nz-tag>
              }
            </td>
            <td>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="disableModel(model.modelId)">
                    <span nz-icon nzType="pause-circle"></span>
                    禁用全部密钥
                  </li>
                  <li nz-menu-item (click)="enableModel(model.modelId)">
                    <span nz-icon nzType="check-circle"></span>
                    启用全部密钥
                  </li>
                </ul>
              </nz-dropdown-menu>
              <nz-space nzSize="small" nzWrap>
                <button *nzSpaceItem nz-button nzType="primary" nzSize="small" (click)="editAModel(model)">
                  <span nz-icon nzType="edit"></span>
                  编辑
                </button>
                <button *nzSpaceItem nz-button nzDanger nzSize="small"
                        nz-popconfirm
                        nzPopconfirmTitle="确定要删除这个模型吗？这将删除密钥与该模型的关联。"
                        nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="delete(model.modelId!)">
                  <span nz-icon nzType="delete"></span>
                  删除
                </button>
                <a *nzSpaceItem nz-button nzSize="small"
                   nz-tooltip nzTooltipTitle="查看具有该模型的密钥"
                   [routerLink]="['../keys']" [queryParams]="{ modelId: model.modelId }">
                  <span nz-icon nzType="key"></span>
                  密钥
                </a>
                <button *nzSpaceItem nz-button nzSize="small" nz-dropdown [nzDropdownMenu]="menu">
                  <span nz-icon nzType="more"></span>
                  更多
                </button>
              </nz-space>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>

