<div class="d-flex p-2">
  <ion-label>Novita Model</ion-label>
</div>
<nz-modal [(nzVisible)]="modelSelectorVisible"
          [nzTitle]="'图像生成模型选择'"
          [nzFooter]="[]"
          [nzWidth]="windowWidth!*0.6"
          (nzOnOk)="modelSelectorVisible=false"
          (nzOnCancel)="modelSelectorVisible=false"
>
  <ng-container *nzModalContent>
    <app-novita-model-selector [modelType]="'image'" (selection)="selectImageModelAction($event)"></app-novita-model-selector>
  </ng-container>
</nz-modal>
<div class="d-flex mb-2">
  <button class="w-100 ht-40 px-2 te text-start overflow-x-hidden rounded-3" (click)="modelSelectorVisible = true">{{model}}</button>
</div>
