<div class="bg-theme text-theme w-100">
  <ion-label>{{'media.embeddings'|translate}}</ion-label>
  @for(embedding of embeddings; track embedding){
    <app-embedding-section [nsfw]="nsfw" [embedding]="embedding" [index]="$index" (delete)="awareDelete($event)"></app-embedding-section>
  }
  <div class="d-flex justify-content-center my-1">
    <button style="width: 100px;" (click)="addNewEmbedding()"
            class="bg-theme text-theme border-theme d-flex justify-content-center py-3 rounded-3"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
  </div>
</div>
