<nz-modal [(nzVisible)]="loraModalVisible"
          [nzTitle]="'image.loraSelector'|translate"
          [nzFooter]="[]"
          [nzWidth]="windowWidth!*0.6"
          (nzOnOk)="loraModalVisible=false"
          (nzOnCancel)="loraModalVisible=false"
>
  <ng-container *nzModalContent>
    <app-novita-model-selector [nsfw]="nsfw" [modelType]="'lora'" (selection)="selectImageModelAction($event)"></app-novita-model-selector>
  </ng-container>
</nz-modal>
<div
  class="bg-theme text-theme my-1 border-1-standard d-flex flex-row justify-content-between p-2 rounded-3">
  <div class="d-flex flex-column">
    <ion-label class="ion-color-light">{{'universal.modelName' | translate}}</ion-label>
    <span class="text-break fs-6 bold border-theme rounded-3 px-1" style="min-height: 30px;width: 100%;" (click)="loraModalVisible = true">{{lora!.model_name}}</span>
  </div>
  <div class="m-1 d-flex flex-column">
    <ion-label  nz-tooltip [nzTooltipTitle]="'有效值区间['+min+','+max+'],float'">{{'universal.strength' | translate}}</ion-label>
    <nz-input-number [nzMin]="min" [nzMax]="max" [nzStep]="step"
      [(ngModel)]="lora!.strength"></nz-input-number>
  </div>
  <button class="bg-theme text-theme" (click)="emitDelete()"><span nz-icon nzType="close" nzTheme="outline"></span></button>
</div>
