<div class="d-flex flex-row-reverse">
  <nz-modal [(nzVisible)]="customAddVisible"
            [nzTitle]="'settings.addOptionalModel' | translate"
            [nzFooter]="[]"
            (nzOnOk)="customAddVisible=false"
            (nzOnCancel)="customAddVisible=false"
  >
    <ng-container *nzModalContent>
      <app-model-custom-add
        (displayModel)="newDisplayModelAction($event)"></app-model-custom-add>
    </ng-container>
  </nz-modal>
  <button nz-button (click)="customAddVisible = true">{{ 'settings.addOptionalModel' | translate }}</button>
</div>
@for (selected of selectedModels; track selected){
  <button class="bg-info mx-2 my-1  p-1 rounded-2"
    (click)="addOrRemove(selected)">
    {{selected.modelValue}}
    @if(selected.internet===true){
      <span nz-icon nzType="ant-cloud" nzTheme="outline"></span>
    }
    @if(selected.vision===true){
      <span nz-icon nzType="eye" nzTheme="outline"></span>
    }
  </button>
}
@for (selectable of selectableModels; track selectable){
  @if (notSelected(selectable.modelValue)){
    <button class="c-dark mx-2 my-1  p-1 rounded-2"
            (click)="addOrRemove(selectable)">
      {{selectable.modelValue}}
      @if(selectable.internet===true){
        <span nz-icon nzType="ant-cloud" nzTheme="outline"></span>
      }
      @if(selectable.vision===true){
        <span nz-icon nzType="eye" nzTheme="outline"></span>
      }
    </button>
  }@else{

  }
}
<div class="d-flex flex-row-reverse">
  <button nz-button class="rounded-2" (click)="save()">{{'universal.save'|translate}}</button>
</div>
